:root {
  --color-dark:   rgb(14, 14, 14);
  --color-dark2:  rgb(32, 32, 32);
  --color-dark3:  rgb(22, 22, 22);
  --color-white:  #fff;
  --color-green:  rgb(103, 195, 80);
  --color-green2: rgb(51, 149, 26);
  --color-red:    rgb(184, 40, 35);
  --color-red2:   rgb(146, 22, 17);
}

* {
  font-family:'Poppins';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-white);
}

html,
body {
  height: auto;
  min-height: 100vh;
}

html {
  background-color: var(--color-dark);
    color: var(--color-white);
}

input:focus {
  outline: none;
}

#register-container {
  max-width: 900px;
  min-height: 80vh;
  margin: 2rem auto;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#register-banner {
  background: url("../img/cadeado-fechado-na-seguranca-cibernetica-de-fundo-digital_42077-11084.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
}

#banner-layer {
  padding: 2rem;
  display: flex;
  align-items: center;
}

#register-banner h1 {
  font-size: 5rem;
  margin-bottom: 1.6rem;
  color: var(--color-white);
  word-spacing: 50rem;
}

#register-form {
  background-color: var(--color-dark2);
  padding: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#register-form h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  color: var(--color-white);
}

#register-form p {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--color-white);
  font-size: 0.8rem;
}

.form-control {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.form-control input {
  border: none;
  border-bottom: 1px solid var(--color-dark3);
  padding: 0.6rem 0;
  color: var(--color-dark);
}

#open-generate-password {
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

#open-generate-password:hover {
  color: var(--color-green);
}

#register-form #generated-password {
  border: 1px solid #0099ff;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.4rem;
  color: var(--color-dark)
  text-align: center;
  margin-bottom: 1rem;
  display: none;
}

#register-form #generated-password p {
  color: var(--color-green2);
  margin-bottom: 0.5rem;
}

#register-form input[type="submit"],
#generate-options button,
#copy-password {
  background-color: var(--color-green2);
  color: var(--color-white);
  opacity: 0.8;
  border: none;
  border-radius: 2rem;
  padding: 1rem 1.4rem;
  max-width: 150px;
  cursor: pointer;
  align-self: flex-end;
  transition: 0.4s;
}

#register-form input[type="submit"]:hover {
  opacity: 1;
}

/* Segunda versão */
#generate-options {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-dark3);
}

#generate-options .form-control {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#generate-options label {
  font-size: 0.8rem;
}

#generate-options input[type="text"] {
  max-width: 30px;
  text-align: center;
  border: 1px solid #ccc;
}

#generate-options button {
  background-color: #0097ff;
  display: block;
  margin: 0 auto;
}

#copy-password {
  margin: 1rem auto;
  background-color: transparent;
  border: 2px solid var(--color-green2);
  color: var(--color-green2);
  padding: 0.5rem 1rem;
}

.hide {
  display: none;
}